#gui {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#head {
}

#lightCount {
    color: white;
    float: right;
    width: 20%;
    text-align: right;
    font-size: xx-large;
    padding: 10px;
}
#time {
    color: white;
    float: right;
    width: 60%;
    font-size: xx-large;
}
#left {
    color: white;
    float: right;
    width: 20%;
    font-size: xx-large;
}